<form class="vote-form">
  <h2 class="vote-form__title">Add a link</h2>
  <div class="vote-form__row">
    <label class="vote-form__label" for="title">Title:</label>
    <input class="vote-form__input" type="text" id="title" #newTitle>
  </div>
  <div class="vote-form__row">
    <label class="vote-form__label" for="link">Link:</label>
    <input class="vote-form__input" type="text" id="link" #newLink>
  </div>
  <button class="vote-form__submit-btn"
          (click)="addArticle(newTitle, newLink)">Submit link</button>
</form>

<app-article *ngFor="let article of sortedArticles()"
             [article]="article">
</app-article>
